body{
    background: #ef8172;
    font-family: "Poppins", sans-serif;
}
#first{
    text-align: center;
    color: black;
    border: 10px;
    border-radius: 50px;
    background-color: greenyellow;
    width: 50%;
    margin-left: 25%;
    margin-top: 150px;
    height: 300px;
    padding: 25px;
}
.button{
background-color: 	#000080; 
padding: 16px 24px;
border-radius: 50px;
border-color: #6A5ACD;
width: 50%;
height: 100%; 
transition: 300ms;
color: antiquewhite; 
cursor: pointer;
font-family: "Poppins", sans-serif;
}
